extends layout
 
block content

    h1 choose option
    h1
    
        a(href="/thelist") yearAcc
        br
        a(href="/thelist") yearDes
        br
        a(href="/thelist") noodmovieAcc
        br
        a(href="/thelist") noofmovieDes



