extends layout
 
block content

    h1 choose option
    h1
    
        a(href="?name=y") yearAcc
        br
        a(href="?name=y") yearDes
        br
        a(href="?name=y") noodmovieAcc
        br
        a(href="?name=y") noofmovieDes



